<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Finger+Paint&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The GPK Databasee</title>
</head>
<style>
    body {
        font-family: 'Creepster';
        color: red;
        text-align: center;
        background-image: url('/assets/orred.jpg');
        background-size: 100vw 100vh;
        background-repeat: none;
    }
    h1 {
        font-family: 'Creepster';
        font-size: 40px;
        color: red;
        margin: 2px;

    }

    h2 {
        font-family: 'Creepster';
        font-size: 35px;
        color: red;
        margin: 20px;
    }

    h3 {
        font-family: 'Creepster';
        font-size: 25px;
        color: green;
        margin: 20px;
    }
    a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
    }
    
    .adam {

        display: flex;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
    }

    .logo {
        justify-content: center;
        min-height: 100vh;
        
    }
</style>
<body>
    <h2>The</h2>
    <div>
        <a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/NMjTZXHF/gpk.png' border='0' alt='gpk'/></a>
        <!-- <a class= "logo" href='https://postimg.cc/VS2dCd4P' target='_blank'><img src='https://i.postimg.cc/VS2dCd4P/gpk.png' border='0' alt='gpk'/></a> -->
    </div>
    <h1> Database</h1>
    <p>A place where I can keep track of all of my cards, to look at a glance.</p>

        <% if (user) { %>
            <h3>Welcome to the pail, <%= user.username %>!</h3>
            <p>
                <a href="/auth/sign-out">Sign out</a>
            </p>
                <% } else { %>
            <h3>Welcome to the pail, friendly visitor!</h3>
            <p>
                <a href="/auth/sign-up">Sign up</a> <a href="/auth/sign-in">sign in</a>
            </p>
        <% } %>

    <a href="/cards">View all cards</a>

    <a href="/cards/new">Add a new card</a>
    <p><a href='/vip'>User goodies!(It's trash, really)</a></p>

    <!-- <a href="/auth/sign-up">Join the Pail</a> -->

    <!-- <a href="/auth/sign-in">Sign In</a> -->

    <div class="adam">
            <p class="change"><a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nz45S6qp/adam-Resize.png' border='0' alt='adam-Resize'/></a></p>
        <!-- resize host link provided by 'www.postimage.org'-->
    </div>
    
    </body>
</html>