<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <ul>
        <% cards.forEach((card) =>{ %>
            <li>
                <a href="/cards/<%=card._id%>">
                    <%= card.name %>,
                    <%= card.number %>
                </a>
            </li>

        <% }) %>

    </ul>
    <a href="/cards/new">Add a new card</a>
</body>
</html>