<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Finger+Paint&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Card</title>
</head>
<style>
    body {
        font-family: 'Creepster';
        color: red;
        text-align: center;
        background: lightblue;
    }
    h1 {
        font-family: 'Creepster';
        font-size: 3em;
        color: red;
    }
    a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
    }

    button {
        font-family: 'Playfair Display', serif;
        border-radius: 12px;
        background-color: yellow;
    }
    .addendum {
        color: green
    }
</style>
<body>
    <h1>Post a new Card</h1>

    <form action="/cards" method="POST">
        
        <label>Name:</label>
        <input type="text" name="name" required />
        <div><small>*required</small></div><br>


        <label>Number:</label>
        <input type="text" name="number" required />
        <div><small>*required</small></div><br>

        <label>Condition:</label>

        <input 
        type="text" 
        list="conditionl"
        name="condition" 
        required/>

        <datalist id="conditionl">
            <option value="M">
            <option value="NM">
            <option value="LP">
            <option value="MP">
            <option value="DMG">
        </datalist><br>
        <!-- ^https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->
        <div><small >*required, <div class="addendum">(Pick from dropdown menu)</div></small></div><br>

        <label>Series:</label>
        <input type="text" name="series" required />
        <div><small>*required</small></div><br>

        <label>Is the condition of this card authenticated?</label>
        <input type="checkbox" name="isAuth" />
        <div><small>*required</small></div><br>
        <label>Additional Comments:</label><br>
        <textarea id="message"></textarea><br>
        <button type="submit"><b>UPLOAD TO THE PAIL</b></button>
    </form>

    <div class="addendum"> 
        M: Mint <br>
        NM: Near Mint <br>
        LP: Lightly Played <br>
        MP: Moderately Played <br>
        DMG: Damaged</p>
   </div>

    <a href="/cards">Back to the index</a>
</body>
</html>