<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post a new Card</h1>

    <form action="/cards" method="POST">
        
        <label>Name:</label>
        <input type="text" name="name" required />
        <div><small>*required</small></div><br>


        <label>Number:</label>
        <input type="text" name="number" required />
        <div><small>*required</small></div><br>

        <label>Condition:</label>
        <input type="text" name="condition" required />
        <div><small>*required</small></div><br>

        <label>Series:</label>
        <input type="text" name="series" required />
        <div><small>*required</small></div><br>

        <label>Is the condition of this card authenticated?</label>
        <input type="checkbox" name="isAuth" required />
        <div><small>*required</small></div><br>
        <button type="submit">Upload to the pail!</button>
    </form>

    <div> 
        M: Mint <br>
        NM: Near Mint <br>
        LP: Lightly Played <br>
        MP: Moderately Played <br>
        DMG: Damaged</p>
   </div>

    <a href="/cards">Back to the index</a>
</body>
</html>