<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Finger+Paint&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Series</title>
</head>
<style>
    body {
        background-image: url('/assets/series.jpg');
        background-size: 100vw 100vh;
        background-repeat:no-repeat;

    }
    h1 {
        font-family: 'Creepster';
        color: red;
        text-align: center;
    }
   
</style>
<body>
    <h1>Select By Series!</h1>
    <ul>
        
            <li>
                <% card.forEach((card) =>{ %>
                <a href="/cards/<%= card.id %>">
                    <%= card.name %>,
                    <%= card.number %>
                    <% })%>
                </a>
            </li>
        
    </ul>
</body>
</html>