<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Finger+Paint&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {
        font-family: 'Creepster';
        color: red;
        text-align: center;
    }
</style>
<body>
    <h1>Select By Series</h1>
    <ul>
        
        <% cards.forEach((card) => { %>
            <li>
                <a href="/cards/<%=card.id%>">
                    <%=card.name%>,
                    <%=card.series %>
                    
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>